/* Feuille de styles CSS */
table, td, th {
    border : 1px solid black;
    border-collapse: collapse;
}
h1 {
    text-align: center;
}
body {
    background-color: white; 
    margin : auto;
    padding : 32px;
    width : 600px;
    font-family: sans-serif ;
}
:root{
    background-color: #eeeeee;
}
p  {
    text-align: justify;
}
span{
    color: #007bff;
    font-style: italic;
}